they did surgery on a P L A N T

<ul>
  <%= form_for @plant, url: {action: "update"} do |f| %>
    <li>Name: <%= f.text_field :name %></li>
    <li>Disposition</li>
    <li><%= radio_button_tag("plant[disposition]", "easygoing", checked = @plant.disposition == "easygoing") %>
    <%= label_tag(:disposition, "easygoing") %></li>
    <li><%= radio_button_tag("plant[disposition]", "neutral", checked = @plant.disposition == "neutral") %>
    <%= label_tag(:disposition, "neutral") %></li>
    <li><%= radio_button_tag("plant[disposition]", "irritable", checked = @plant.disposition == "irritable") %>
    <%= label_tag(:disposition, "irritable") %></li>
    <%= f.submit "It's alive!!" %>
  <% end %>
</ul>
