<!DOCTYPE html>
<html>
  <head>
    <title>Neoplants</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @plant && @plant.errors.any? %>
      <% @plant.errors.messages[:food_status].each do |err| %>
        <p><%= err %></p>
      <% end %>

      <% @plant.errors.messages[:mood_status].each do |err| %>
        <p><%= err %></p>
      <% end %>

      <% @plant.errors.messages[:sunlight_status].each do |err| %>
        <p><%= err %></p>
      <% end %>

      <% @plant.errors.messages[:water_status].each do |err| %>
        <p><%= err %></p>
      <% end %>

      <% @plant.errors.messages[:health_status].each do |err| %>
        <p><%= err %></p>
      <% end %>

      <% @plant.errors.messages[:disposition].each do |err| %>
        <p><%= err %></p>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
